<template>
  <div class="about container">
    <div class="text-left bg-white p-4 border shadow">
      <h4 class="mb-3">Задание должно быть выполнено с использованием:</h4>
      <ul>
        <li>es6</li>
        <li>vue/vuex</li>
        <li>scss</li>
      </ul>
      <h4>Приветствуется:</h4>
      <ul>
        <li>умение работать с git, npm, photoshop, figma</li>
        <li>понимание принципов DRY, KISS</li>
      </ul>
      <hr>
      <h5 class="my-4">
        Необходимо сделать SPA, на котором будет предоставляться доступ к https://jsdelivr.com по средствам API https://github.com/jsdelivr/data.jsdelivr.com.
        Оформить внешний вид при помощи Vuetify или Bootstrap.
      </h5>
      <hr>
      <h4>Приложение:</h4>
      <ul>
        <li>
          <h6>Главная страница:</h6>
          <ol>
            <li>Сверху текстовое поле для поиска.</li>
            <li>В таблице результат - список пакетов.</li>
            <li>Каждая запись содержит базовую информацию о пакете.</li>
            <li>Результат поиска разбит на страницы по 10 записей</li>            
          </ol>
        </li>
        <li><h6>По клику на запись в таблице должно открываться модальное окно содержащее расширенную информацию о пакете.</h6></li>
        <li>
          <h6>Футер: </h6>
          <ul>
            <li>Информация об авторе (ссылка на гит, имя, можно фото)</li>
          </ul>
        </li>
      </ul>
      <h4>Мы оценим если:</h4>
      <ol>
        <li>Приложение будет работать локально после npm i && npm run start;</li>
        <li>Приложение будет кроссбраузерным и адаптивным.</li>
        <li>Будет качественная работа с API</li>
      </ol>
    </div>
  </div>
</template>
