<template>
  <div class="home">
    <v-content msg="access-control-app-with-bootstrap"/>
  </div>
</template>

<script>
// @ is an alias to /src
import VContent from '@/components/v-content.vue'

export default {
  name: 'Home',
  components: {
    VContent
  }
}
</script>
