<template>
  <b-container>
    <b-row class="my-1 d-flex justify-content-center align-items-center">
      <b-col sm="1" class="d-flex justify-content-end align-items-center">
        <label class="mb-0" :for="`type-${type}`">
          <h5 class="mb-0">Search:</h5>
        </label>
      </b-col>
      <b-col sm="6">
        <b-form-input
          class="shadow"
          placeholder="type some string"
          v-model="search"
          :id="`type-${type}`"
          :type="type"
        ></b-form-input>
      </b-col>
      <b-col sm="1" class="d-flex justify-content-end align-items-center">
        <b-button class="d-flex btn btn-success" @click="findMatches">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" 
            viewBox="0 0 24 24"
            fill="white"
          >
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
          </svg>
          <span class="ml-2">Find</span>
        </b-button>
      </b-col>
    </b-row>
    <b-col v-if="searchResult.length">
      <b-row class="overflow-auto">
        <b-col>
          <p class="mt-3 text-secondary">Current Page: {{ currentPage }}</p>
          <b-pagination
            size="md"
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
            align="center"
          ></b-pagination>
        </b-col>
      </b-row>
      <b-row>
        <b-table
          striped
          hover
          class="border shadow"
          :items="searchResult"
          :per-page="perPage"
          :current-page="currentPage"
          id="my-table"
        >
          <template #cell(type)="data">
            <!-- `data.value` is the value after formatted by the Formatter -->
            <!-- <a :href="`#${data.value.replace(/[^a-z]+/i,'-').toLowerCase()}`">{{ data.value }}</a> -->
            <button @click="showDetails(data)">{{ data.value }}</button>
          </template>
        </b-table>
      </b-row>
    </b-col>
    <b-modal centered ref="detailsModal" title="BootstrapVue">
      <template v-if="modalIsOpen">
        <p class="my-2">
          <b>TYPE:</b>
          {{
            modalPayload.item.type
              ? modalPayload.item.type
              : "Ничего не найдено"
          }}
        </p>
        <p class="my-2">
          <b>NAME:</b>
          {{
            modalPayload.item.name
              ? modalPayload.item.name
              : "Ничего не найдено"
          }}
        </p>
        <p class="my-2">
          <b>HITS:</b>
          {{
            modalPayload.item.hits
              ? modalPayload.item.hits
              : "Ничего не найдено"
          }}
        </p>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "v-content",
  props: {
    msg: String,
  },
  data() {
    return {
      type: "search",
      search: null,
      searchResult: [],
      modalIsOpen: false,
      perPage: 10,
      currentPage: 1,
    };
  },
  computed: {
    rows() {
      return this.searchResult.length;
    },
    database() {      
      return this.$store.getters.getDatabase;
    },
    modalPayload() {
      return this.$store.getters.getModalPayload;
    },
    modalState() {
      return this.$store.getters.getModalState;
    },
  },
  methods: {
    ...mapActions(["setModalPayload"]),
    findMatches() {
      this.searchResult = this.database.filter(el => el.name.includes(this.search));      
    },
    showDetails(data) {
      this.setModalPayload(data);
      this.modalIsOpen = true;
      this.$refs["detailsModal"].show();
    },
    setData() {
      this.$store.dispatch("addDataFromApi");
    },
  },
  created() {
    this.setData();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
table {
  background-color: #f2f2f2;
}
</style>
