<template>
  <b-container class="footer my-4">
      <a href="https://gitlab.com/nunamnir" target="_blank"><h5>https://gitlab.com/nunamnir</h5></a>
  </b-container>
</template>

<script>
export default {

}
</script>

<style>

</style>