<template>
  <b-container class="header">
    <b-row class="my-1 d-flex justify-content-center align-items-center">
      <div id="nav" class="p-2">
        <router-link to="/">Task</router-link> |
        <router-link to="/about">Rules</router-link>
      </div>      
    </b-row>
  </b-container>
</template>

<script>
export default {};
</script>

<style>
</style>