<template>
  <div id="app">
    <v-header />
    <router-view />
    <v-footer />
  </div>
</template>

<script>
import vHeader from '@/components/v-header.vue';
import vFooter from '@/components/v-footer.vue';

export default {
  name: 'app',
  components: {
    vHeader,
    vFooter
  }  
}
</script>

<style lang="scss">
@import "./_variables.scss";
</style>
